 thead tr th {
            background-color: #93008E;
}
          
tr {
   background-color:#806D7E;         
  }
            
            tr.alt td {
                background-color: white;
            }
            
            tr.over td, tr:hover td {
                 background-color:#7D1B7E;
            }  