#editable_header{

}
#editable_middle1
{

  width:409px;
  float:left;
  
}

#editable_middle2
{

 float:left;
 width:409px;
}

#editable_middle3
{

 float:left;
 width:409px;
}


#editable_footer {

  clear:left;
}
